include CHANGELOG.md
include README.md
include LICENSE

prune src/light_compressor/*/snappy/target
prune */target
prune target

include src/light_compressor/compressors/*.pyi
include src/light_compressor/decompressors/*.pyi
recursive-include src/light_compressor *.pyi
recursive-include src/light_compressor/*/ *.pyi

exclude src/light_compressor/compressors/*.c
exclude src/light_compressor/compressors/*.pyx
exclude src/light_compressor/compressors/*.pxd
exclude src/light_compressor/decompressors/*.pyx
exclude src/light_compressor/decompressors/*.pxd
exclude src/light_compressor/decompressors/*.c
recursive-exclude src/light_compressor *.c
recursive-exclude src/light_compressor *.pyx
recursive-exclude src/light_compressor *.pxd

exclude *.c
exclude src/*.c
exclude src/**/*.c
global-exclude *.c
